// ==========================footer of the home page =====================
// footer bg
.footer-background-image {
    background-image: url("/public/images/section\ 8.jpg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    position: center;
    background-position: center center;
}

.footer-text {
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.74);
}
.footer-heading {
    letter-spacing: 1px;
}
